html,body,#__next {
  height: 100%;
}

.toast {
  border-radius: 5px;
}


@font-face {
  font-family: "B Mitra";
  src: url('/fonts/bmitra/B Mitra.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "B Mitra";
  src: url('/fonts/bmitra/B Mitra Bold.ttf');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Vazir";
  src: url('/fonts/vazir/Vazir.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url('/fonts/vazir/Vazir-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
